:root {
    --background-color: beige;
    --light-color: #ffffff;
    --dark-color: blue;
}

body {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: var(--background-color);
    margin: 20px;
    font-size: 22px;
}

h1 {
    font-size: 2.5 em;
    font-weight: 300;
}

h2 {
    font-size: 2 em;
    font-weight: 300;
}

.special-headline {
    font-weight: 900px;
    color:blue;
}

#unique-headline {
    font-weight: 300;
    color:mediumorchid;
}

h2, h3, h4 {
    font-weight: 300;
    color: var(--dark-color);
}

.post {
    border:1px solid (--dark-color);
    margin-bottom: 1 emx;
    padding: .5em 1em;
    .img-container 
        {aspect-ratio: 3/2;
    }
    img {
        width: 100%;
        height: auto;
        display: block;
    }

}

.highlight {
    background-color: (--dark-color);
    color: var(--background-color);
    h2{
        color: var(--background-color);
    }
}

/* Lab 2 Styles */

.container{
        max-width 1080 px;
        margin: 0 auto;
}

/* Lab 3 Styles */

.hide-me {
    display: none;
}

.block-div, .block {
    display: block;
    color: coral;
    border: 1px solid var(--dark-color);
    padding: 1em;
}

.inline {
    display: inline;
}


.inline-block {
    display: inline-block;
    text-transform: uppercase;
    padding: 0.2em 0.8em;
    color: var(--dark-color) !important;
    background-color: coral;
    transform: rotate (-8deg);
    font-weight: 800;
    font-variation-settings:
        "wdth" 75;
}

.block {
    margin: 1em 0;
}



